
/*Importa todos os módulos CSS */
@import 'variables.css';
@import 'layout.css';
@import 'components.css';
@import 'responsive.css';

/*estilos básico e estilos globais do body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-md);
    color: var(--color-neutral-dark);
    background-color: var(--color-neutral-light);
    line-height: 1.6;
}

h1, h2, h3 {
    color: var(--color-primary);
    margin-bottom: var(--spacing-2);
}

h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); font-weight: bold; }

p {
    margin-bottom: var(--spacing-2);
}

a {
    color: var(--color-accent);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}